{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Connectez-vous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        {% if session.errorlogin is defined %}
            <div class="alert alert-danger">{{ session.errorlogin }}</div>
        {% endif %}
        <form method="post" action="/Pet/Add">

            <p>Utilisateur :</p>
            <input name="ID_User" class="form-control form-control-lg">
            <p>Prénom :</p>
            <input name="a_prenom" class="form-control form-control-lg">
            <p>Age :</p>
            <input type="date" name="a_age" class="form-control form-control-lg">
            <p>Caractère :</p>
            <input name="caractere" class="form-control form-control-lg">
            <p>Entente avec les autres :</p>
            <input  name="entente" class="form-control form-control-lg">


            <br>
            <input type="submit">
        </form>
    </div>

{% endblock %}