{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Ajout d'un article {% endblock %}

{% block body %}

    <div class="container-fluid mt-2">

        <h2 class="display-3">Ajout d'un article</h2>
        <hr class="my-4">
        <form name="addArticle" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="Titre" class="col-sm-2 col-form-label">Titre de l'article</label>
                <div class="col-sm-10">
                    <input type="text" name="Titre" class="form-control form-control-lg">
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="Description" class="form-control" rows="9"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="DateAjout" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" name="DateAjout" class="form-control disabled" value="<?php (new \DateTime())->format('Y-m-d');?>">
                </div>
            </div>

            <div class="form-group row">
                <label for="article_auteur" class="col-sm-2 col-form-label">Auteur</label>
                <div class="col-sm-10">
                    <input type="text" name="Auteur" class="form-control">
                </div>
            </div>


            <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label">Image de l'article</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input type="file" class="form-control-file custom-file-input" name="image" id="inputFile">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01"></label>
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary my-1">
        </form>
    </div>

{% endblock %}